.wrapper {
  position: relative;
  /* padding: 16px; */
}

.search_bar {
  border: none;
  outline: none;
  border-radius: 16px;
  font-size: large;
  font-weight: bold;
  padding: 16px;
  width: calc(360px * 2 + 32px);
}

.search_bar::placeholder {
  font-weight: bold;
}
