.wrapper {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
}

.left_part {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.title {
  color: white;
  filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.99));
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

.lk {
  background-color: white;
  display: block;
  border-radius: 16px;
  padding: 16px;
  font-size: large;
  font-weight: bold;
  color: var(--primary-dark);
}
