:root {
  --primary: #5e81f4;
  --primary-dark: #262626;
  --primary-grey: #8181a5;

  --text-primary: var(--primary-dark);
  --text-muted: #404040;

  --yellow: #f4be5e;
  --yellow-dark: #a4ce4e;
  --green: #7ce7ac;
  --red: #ff808b;
  --purple: #9698d6;

  --background: #f6f6f6;
  --background-light: #f5f5fa;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 600;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
